<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>TechApp-snapshot</id>
      <username>${NEXUS-USER}</username>
      <password>${NEXUS-PASS}</password>
    </server>
    <server>
      <id>TechApp-release</id>
      <username>${NEXUS-USER}</username>
      <password>${NEXUS-PASS}</password>
    </server>
    <server>
      <id>TechApp-maven-central</id>
      <username>${NEXUS-USER}</username>
      <password>${NEXUS-PASS}</password>
    </server>
    <server>
      <id>TechApp-maven-group</id>
      <username>${NEXUS-USER}</username>
      <password>${NEXUS-PASS}</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>central-mirror</id>
      <name>Central Repository Mirror</name>
      <url>http://${NEXUSIP}:${NEXUSPORT}/repository/TechApp-maven-group/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>nexus-profile</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>http://${NEXUSIP}:${NEXUSPORT}/repository/TechApp-maven-central/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://${NEXUSIP}:${NEXUSPORT}/repository/TechApp-maven-central/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>nexus-profile</activeProfile>
  </activeProfiles>

</settings>
